.img-circle {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	background-color: white;
}

.div-list { /* border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:gray; */
	color: #2980B9;
	font-family: sans-serif;
	/* text-transform:uppercase; */
	font-size: 20px;
	height: 30px;
	text-align: center;
	display: list-item;
	padding-top: 10px;
}

.div-list:HOVER {
	background-color: #2980B9;
	cursor: pointer;
	color: white;
	border-radius: 50px;
}

#divid1 {
	padding-top: 35px;
	text-align: center;
}

#h4name {
	padding-top: 20px;
	font-size: 28px;
	font-family: Agency FB;
	color: white;
	text-align: center;
}

#h6designation {
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 17px;
	font-variant: small-caps;
	font-family: sans-serif;
	color: gray;
	text-align: center;
}

li {
	list-style-type: none;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: white;
}