<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>		<!-- Syntax of the Queries -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/taskmanager</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>
		<property name="show_sql">true</property>								<!-- What query got issued in backend, is visible to us -->
		<property name="connection.pool_size">1</property>
		<property name="hbm2ddl.auto">update</property>		<!-- hibernate to DDL. If schema is not there, CREATE it. If its there, DROP 
			those and CREATE new ones creates the structures -->
		<!-- <mapping resource="hibernate1/Customer.hbm.xml" /> -->
		<!-- <mapping resource="models/Account.hbm.xml" /> -->
	</session-factory>
</hibernate-configuration>